{{!-- header for unauthorised users --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Wod[i]
      <!--  <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Wodpicker
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
        <a href="/login">Login</a> | <a href="/register">Register</a>
      </span>
    </div>
  </div>
</nav>

{{!-- login for for the user --}}
<section class="login-page">
  <div class="text-center-register">
    <form class="form-signin" method="post" action="/login">
      {{!-- logo image leading to the landing page --}}
      <a href="/">
        <img class="mb-4" src="./images/woodpecker.png" alt="" width="72" height="72">
      </a>
      {{!-- login message --}}
      <h1 class="h3 mb-3 font-weight-normal">Please login:</h1>
      <label for="inputEmail" class="sr-only"></label>

      <div class="has-validation">
        <span class="input-group-text"><img src="./images/arroba.png" alt="" width="30" height="30"></span>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="you@example.com" required=""
          autofocus="">
      </div>
      <label for="inputEmail" class="sr-only"></label>

      <div class="has-validation">
        <span class="input-group-text"><img src="./images/password.png" alt="" width="30" height="30"></span>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
          name="password">
      </div>
      <label for="inputPassword" class="sr-only"></label><br>

      <button class="btn btn-lg btn-danger btn-block" type="submit">Login</button>
      <br>
      <p>or</p>
    </form>
    <div class="social-login">
      <button href="/auth/google" class="btn btn-lg btn-danger btn-block" type="submit"><img class="google-img"
          src="/images/google.png" alt=""> <span>|</span> Use your Google account</button>
    </div>

    {{#if error}}
    <p class="alert alert-danger">{{error}}</p>
    {{/if}}
  </div>
</section>

<!-- footer for unauthorised users -->