<!-- navbar for authorised users -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="/welcome">
      Wod[i]Wodpicker
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/wod">Your WODs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wod/create">Create one</a>
      </li>
    </ul>

  </div>
  <span class="navbar-text">
    <a href="/profile">Profile</a> | <a href="/logout">Logout</a>
  </span>
</nav>

<!-- my profile card -->
<section id="welcome-bg">
<label for=""></label><br>
<label for=""></label><br>

  <div class="surrounded">
  <div class="card text-center">
    <label for=""></label><br>
    <label for=""></label><br>
    <label for=""></label><br>
    <label for=""></label><br>
    <div class="surrounded">
      <img src="{{profile.profilePic}}" width="150" height="150" alt="..." class="img-thumbnail">
    </div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="image"> Add your image!</label>
        <input type="file" name="image" accept="image/png image/jpg" />
        <button type="submit">Add Pic</button>
      </form>
    <div class="card-body">
      <h5 class="card-title">{{profile.name}}</h5>
      <p class="card-text">{{profile.email}}</p>
      <form method="GET" action="/profile/edit">
            <button class="card-link btn btn-warning" type="submit">Edit my information</button>
      </form>
      <form method="POST" action="/profile/delete">
            <button class="card-link btn btn-danger" type="submit">Delete my account</button>
      </form>
    </div>
  </div>
</div>
</section>

<!-- footer for authorised users -->