<!-- navbar for authorised users-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="/welcome">
      Wod[i]Wodpicker
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/wod">Your WODs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wod/create">Create one</a>
      </li>
    </ul>

  </div>
  <span class="navbar-text">
    <a href="/profile">Profile</a> | <a href="/logout">Logout</a>
  </span>
</nav> 

<section class="register-page">
  <div class="text-center-register">
    <label for=""></label><br>
    <label for=""></label><br>
    <form class="form-register" action="edit" method="POST" action="/profile/edit">

      <h1 class="h3 mb-3 font-weight-normal">Update your profile:</h1>
      <label for=""></label><br>
      
      {{!-- profile photo --}}
      <div class="surrounded">
        <img src="{{profile.profilePic}}" width="150" height="150" alt="..." class="img-thumbnail"><br>
      </div>
      <label for=""></label><br>
      <label for=""></label><br>


      {{!-- change your name --}}
      <div class="input-group has-validation">
        <span class="input-group-text"><img src="../images/id-card.png" alt="" width="30" height="30"></span>
        <input type="name" id="inputName" class="form-control" name="name" placeholder="Name" required="" autofocus="" value="{{profile.name}}">
      </div>
      <label for=""></label><br>

      {{!-- change your email --}}
      <div class="input-group has-validation">
        <span class="input-group-text"><img src="../images/arroba.png" alt="" width="30" height="30"></span>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="you@example.com" required="" autofocus="" value="{{profile.email}}">
      </div>
      <label for=""></label><br>

      {{!-- change your password --}}
      <div class="input-group has-validation">
        <span class="input-group-text"><img src="../images/password.png" alt="" width="30" height="30"></span>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="New password" required="">
      </div>
      <label for=""></label><br>

      {{!-- submit your changes --}}
      <button class="btn btn-danger btn-update" type="submit">Update</button>



    </form>
  </div>
</section>


<!-- footer for authorised users -->