<!-- navbar for logged in users-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="/welcome">
      Wod[i]Wodpicker
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/wod">Your WODs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wod/create">Create one</a>
      </li>
    </ul>

  </div>
  <span class="navbar-text">
    <a href="/profile">Profile</a> | <a href="/logout">Logout</a>
  </span>
</nav>

<!-- labels are being used only for spacing purposes between elements-->
<label for=""></label><br>
<label for=""></label><br>

<h2>Update your profile</h2>
<form action="edit" method="POST">
  <label class="form-label">
    <h4>Name</h4>
  </label>
  <input class="form-control" type="string" name="name" placeholder="{{name}}" /><br>

  <label class="form-label">
    <h4>How many propellers does it have?</h4>
  </label>
  <input class="form-control" type="number" name="propellers" placeholder="{{propellers}}" /><br>

  <label class="form-label">
    <h4>How fast can it go?</h4>
  </label>
  <input class="form-control" type="number" name="maxSpeed" placeholder="{{maxSpeed}}" /><br>

  <button class="btn btn-primary" type="submit">Submit!</button>
</form>

<label for=""></label><br>
<label for=""></label><br>

<!-- //the footer is the same in every single page -->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">Marvin & Hugo © 2021</p>

  <a href="/welcome" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img class="bi me-2" width="30" height="30" src="./images/woodpecker.png">
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Buszinga</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Chasing Manish</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
</footer>