{{!-- header --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="/welcome">
      Wod[i]Wodpicker
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/wod">Your WODs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wod/create">Create one</a>
      </li>
    </ul>

  </div>
  <span class="navbar-text">
    <a href="/profile">Profile</a> | <a href="/logout">Logout</a>
  </span>
</nav>

<!-- HERE GOES THE WELCOME SECTION -->

{{!-- greeting the authorised user --}}
<section id="welcome-bg">
  {{!-- greeting message, calling the user by the name and asking about the mood/motivation --}}
  <div class="welcome-text-center">
    <h1>Welcome, {{profile.name}}!</h1>
    <h3>How are you feeling today?</h3>


    <div class="input-group mb-3 surrounded">
      <a href="/wod">Bring it on!</a>
      <a href="/wod/create">Take it easy...</a>
      <a href="/exercise"> Not sure </a>
    </div>
  </div>
  <label for=""></label><br>
  <label for=""></label><br>
</section>

<!-- footer -->