<section class='error404'>

    <h1>Error !</h1>
    <h4>Woops something went wrong</h4>
    <hr>
    <div class='error-challenge'>
        <h4>Looks like our developpers need to spend less time at the gym</h4>
    </div>
    <div class='error-go-back'>
        <a href="javascript:history.back()">
            <- GO BACK </a>
    </div>

</section>