{{!-- header for unauthorised users --}}

{{!-- landing page for unauthorised users --}}
<section class="landing-page">
  <div>
    <h1 class="main-header">Are you ready ?</h1>
    <div class="h2-box">

      <h2 class="main-h2">Excuses burn zero calories per hour</h2>
      <p class="main-p">WoD[i] WoD Picker is the best application to build personalized workouts. Search among more than
        1300 exercises and add them to your Workout Of the Day. Whatever if you're a beginner or a machine you can train
        on your own pace, and ajust the intensity based on your daily mood.</p>
    </div>
    <form method="GET" action="/exercise">
      <button class="btn-danger" type="submit">Get started!</button>
    </form>
  </div>
</section>

{{!-- footer for unauthorised users --}}