<!-- this is the landing page, anyone who enters the url in the browser can see it and navigate
 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Wod[i]
      <!--  <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Wodpicker
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
        <a href="/login">Login</a> | <a href="/register">Register</a>
      </span>
    </div>
  </div>
</nav>

<section class="landing-page">
  <div class="text-center index-div">
    <h1>Ready to Workout ?</h1>
    <button class="btn-danger" type="submit"><a href="/exercise">Get started! </a></button>
  </div>
</section>

<!-- //the footer is the same in every single page -->
<!-- PUT IT IN LAYOUT -->