<!-- this is the landing page, anyone who enters the url in the browser can see it and navigate
 -->

<section class="landing-page">

  <div class="text-center index-div">
    <h1>Workout whenever, wherever.</h1>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Get started!</button>
  </div>
</section>