{{!-- header for unauthorised users --}}
{{>headerpartial}}

{{!-- landing page for unauthorised users --}}
<section class="landing-page">
  <div class="text-center index-div">
    <h1>Workout whenever, wherever.</h1>
    <button class="btn-danger" type="submit">Get started!</button>
  </div>
</section>

{{!-- footer for unauthorised users --}}
{{>footerpartial}}