{{!-- header for unauthorised users --}}

{{!-- landing page for unauthorised users --}}
<section class="landing-page">
  <div class="text-center index-div">
    <h1>Ready to Workout ?</h1>
    <button class="btn-danger" type="submit"><a href="/exercise">Get started! </a></button>
  </div>
</section>

{{!-- footer for unauthorised users --}}