/*
RED = rgb(141, 0, 0)
GREY = rgb(36, 35, 35)
WHITE = ghostwhite 
*/
/* --------------------------------------------GLOBAL STYLES-------------------------------------------  */
body {
font-family: 'Lora', serif;
padding: 10px;
background-color: rgb(36, 35, 35);
background-repeat: no-repeat;
background-size: cover;
color: ghostwhite;
font-family: 'Montserrat', sans-serif;
margin: 0px;
padding: 0px;
}

button {
  border-radius: 10px 0px 10px 0px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

footer {
  padding: 10px;
}

.my-4 {
  margin-top: 0rem!important; 
  margin-bottom: 0rem!important; 
}

li {
  list-style: none;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: ghostwhite;
}

a:hover {
  color:rgb(141, 0, 0)
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-transform: uppercase;
margin-bottom: 30px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 20px;
}

.centralise{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btn-danger {
  background-color: rgb(141, 0, 0);
  border: none;
}

.btn-danger:hover {
  background-color: black;
  border: none;
  border: 1px solid rgb(141, 0, 0);
}



/* --------------------------------------------LANDING PAGE-------------------------------------------  */

.landing-page {
  height: 620px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.750),rgba(0, 0, 0, 0.750)) ,url(../images/man-g16145928b_1920.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.text-center {
  text-align: center!important;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-center button {
  width: 300px;
  justify-self: center;
}

/* --------------------------------------------LOGIN PAGE-------------------------------------------  */
.login-page {
  height: 620px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.750),rgba(0, 0, 0, 0.750)) ,url(../images/womanDumbell.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}


/* -----------------------------------------REGISTER PAGE-------------------------------------------  */


.register-page {
  height: 620px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.750),rgba(0, 0, 0, 0.750)) ,url(../images/manSnatch.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}



/* --------------------------------------------WOD LIST-------------------------------------------  */

#wod-list-section {
  height: 620px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.750),rgba(0, 0, 0, 0.750)) ,url(../images/crossfit-g06070b972_1920.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.wod-container {
  border: 1.5px solid rgb(141, 0, 0);
  padding: 10px;
  background-color: rgb(36, 35, 35, 0.870);
  border-radius: 20px;
  margin: 40px 20px;
  align-items: center;
  justify-content: center;
}
.wod-list a {
  font-size: 1.3em;
}

.pick-a-wod-container {
  text-align: center;
}

.create-wod-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.create-btn {
  background-color: rgb(141, 0, 0);
  color: ghostwhite;
  border: none;
  border-radius: 10px 0px 10px 0px;
  margin: 10px;
  padding: 10px;
}

.create-btn:hover {
  border: 1px solid rgb(141, 0, 0);
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px 0px 10px 0px;
  margin: 10px;
}

/* --------------------------------------------WOD DEATILS-------------------------------------------  */

.wod-detail-container {
  display: flex;
  margin: 20px, 0px;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.wod-detail-container li {
  border: 1px solid rgb(141, 0, 0);
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  margin: 10px;

}

.wod-exercises-container {
display: flex;
align-content: flex-start;
justify-content: space-around;
flex-wrap: nowrap;
}

.wod-exercises-container img {
  width: 150px;
  border-radius: 20px;
}

.go-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-btn button {
  border: 1px solid rgb(141, 0, 0);
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px 0px 10px 0px;
  margin: 10px;
  width: 400px;
}

.go-btn button:hover {
  background-color:rgb(141, 0, 0)
}


/* --------------------------------------------WOD CREATE-------------------------------------------  */
#wod-form-section {
  height: 800px;
  margin: 0;
  padding: 8px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.750),rgba(0, 0, 0, 0.750)) ,url(../images/man-g16145928b_1920.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.create-a-wod-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.create-a-wod-btn.button{
  margin: 20px;
}

.edit-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control-create {
  width: 550px;
}

.wod-form-container {
  margin: 20px 0px;
}


/* --------------------------------------------WOD EDIT-------------------------------------------  */

.edit-delete-btn button{
  width: 200px;
  margin: 20px;
}

.edit-delete-btn button:hover{
  background-color: black;
  border: 1.5px solid rgb(141, 0, 0);
}

/* --------------------------------------------EXERCISES LIST-------------------------------------------  */

#exercises-list-section {
  background-color: rgb(36, 35, 35);
}

.exercises-list img {
  width: 150px;
  border-radius: 20px;
  margin: 15px;
}

.exercises-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.searched-exercises {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.searched-exercise-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 10px;
}

.searched-exercises img{
  width: 200px;
  border-radius: 20px;
}

 .search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
} 

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgb(141, 0, 0);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
}

.search-btn {
  background-color: rgb(141, 0, 0);
  border: none;
  color: ghostwhite
}

.search-btn:hover {
  background-color: black;
  border: none;
  }

.exercises-list-container {
  margin: 0;
}

/* --------------------------------------------EXERCISE DETAILS-------------------------------------------  */

#exercise-details-section {
  height: 620px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.750),rgba(0, 0, 0, 0.750)), url(../images/crossfit-gf7c7be81d_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.exercise-title-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercice-detail {
  display: flex;
  align-items: center;
}

.exercice-detail img{
  border-radius: 20px;
  margin: 10px
}

.exercice-detail li{
  width: 300px;
  font-size: 1.2em;
  border: 1.5px solid rgb(141, 0, 0);
  padding: 10px 20px 10px 20px;
  background-color: black;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.go-back {
  margin-top: 20px;
  margin-left: 10px;
}
.go-back a:hover {
  color:rgb(141, 0, 0)
}



