<!-- //this page loads when the user wants to login -->

<div class="text-center">
  <form class="form-signin" method="post" action="/login">
    <a href="/">
      <img class="mb-4" src="./images/woodpecker.png" alt="" width="72" height="72">
    </a>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only"></label>

    <div class="input-group has-validation">
      <span class="input-group-text"><img src="./images/arroba.png" alt="" width="30" height="30"></span>
      <input type="text" id="inputEmail" class="form-control" name="username" placeholder="you@example.com" required="" autofocus="">
    </div>
    <label for="inputEmail" class="sr-only"></label>



    <div class="input-group has-validation">
      <span class="input-group-text"><img src="./images/password.png" alt="" width="30" height="30"></span>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div>
    <label for="inputPassword" class="sr-only"></label><br>
    <label for="inputPassword" class="sr-only"></label><br>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">Marvin & Hugo © 2021</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img class="bi me-2" width="30" height="30" src="./images/woodpecker.png">
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Buszinga</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Chasing Manish</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
</footer>
