<link rel="stylesheet" href="/public/stylesheets/timer.style.css">

<section id="splits-container">
    <h3>Splits</h3>
    <ol id="splits"></ol>

</section>

<section id="clock">
    <div id="sphere">
        <span id="minDec" class="number">0</span>
        <span id="minUni" class="number">0</span>
        <span>:</span>
        <span id="secDec" class="number">0</span>
        <span id="secUni" class="number">0</span>
        <div id="milliseconds">
            <span id="milDec">0</span>
            <span id="milUni">0</span>
        </div>
        <button id="btnLeft" class="btn start">START</button>
        <button id="btnRight" class="btn reset">RESET</button>
    </div>
</section>



<script src="/public/js/timer.js"></script>
<script src="/public/js/chronometer.js"></script>