<h1>MY WODS</h1>
<div class="wod-container">
    <div class="pick-a-wod-container">
        <h5>Pick a WoD</h5>
    </div>
    {{#each wods}}
    <hr>
    <p><a href="/wod/{{this._id}}">{{this.name}}</a></p>
    {{/each}}
</div>
<div class="create-a-wod-btn">
    <form method="GET" action="/wod/create">
        <button class="btn btn-primary" type="submit">CREATE A WOD</button>
    </form>
</div>