<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Wod[i] Wodpicker
    <img src="./images/woodpecker.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>

</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Top rated</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Random</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Your favourites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Create one</a>
      </li>
      <li>
      </li>
    </ul>
    <a class="navbar-brand" href="#">
      Wod[i] Wodpicker
      <img src="./images/woodpecker.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
  </div>
  <a class="navbar-brand" href="#">
    <img src="./images/user.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
</nav>

<h1>Workout whenever, wherever.</h1>
<button class="btn btn-outline-dark btn-lg btn-block" type="submit" name="delete">Get started!</button>
